.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

* {
  box-sizing: border-box;
}
.help {
  border: solid red 1px;
}
html {
  /* font-size: 62.5%; */
  /* font-family:  */
  /* color:  */

}
h2 {
  font-size: 2rem;
  font-weight: 500;
}

li {
  list-style-type: square;
  padding: 1rem 0;
}
#top-level {
  display: flex;
  flex-direction: row;
}